<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="IIS-WebServerRole"  />
    <package id="IIS-WebServer"  />
    <package id="IIS-CommonHttpFeatures"  />
    <package id="IIS-HttpErrors"  />
    <package id="IIS-HttpRedirect"  />
    <package id="IIS-ApplicationDevelopment"  />
    <package id="IIS-NetFxExtensibility"  />
    <package id="IIS-NetFxExtensibility45"  />
    <package id="IIS-HealthAndDiagnostics"  />
    <package id="IIS-HttpLogging"  />
    <package id="IIS-LoggingLibraries"  />
    <package id="IIS-RequestMonitor"  />
    <package id="IIS-HttpTracing"  />
    <package id="IIS-Security"  />
    <package id="IIS-RequestFiltering"  />
    <package id="IIS-IPSecurity"  />
    <package id="IIS-Performance"  />
    <package id="IIS-HttpCompressionDynamic"  />
    <package id="IIS-WebServerManagementTools"  />
    <package id="IIS-ManagementScriptingTools"  />
    <package id="IIS-IIS6ManagementCompatibility"  />
    <package id="IIS-Metabase"  />
    <package id="IIS-StaticContent"  />
    <package id="IIS-DefaultDocument"  />
    <package id="IIS-DirectoryBrowsing"  />
    <package id="IIS-WebSockets"  />
    <package id="IIS-ApplicationInit"  />
    <package id="IIS-ASPNET"  />
    <package id="IIS-ASPNET45"  />
    <package id="IIS-ASP"  />
    <package id="IIS-ISAPIExtensions"  />
    <package id="IIS-ISAPIFilter"  />
    <package id="IIS-CustomLogging"  />
    <package id="IIS-BasicAuthentication"  />
    <package id="IIS-HttpCompressionStatic"  />
    <package id="IIS-ManagementConsole"  />
    <package id="IIS-ManagementService"  />
    <package id="IIS-WindowsAuthentication"  />
    <package id="WCF-HTTP-Activation"  />
    <package id="WCF-Services45"  />
    <package id="WCF-HTTP-Activation45"  />
    <package id="WCF-TCP-Activation45"  />
    <package id="WCF-Pipe-Activation45"  />
    <package id="WCF-MSMQ-Activation45"  />
    <package id="WCF-TCP-PortSharing45"  />
    <package id="NetFx4-AdvSrvs"  />
    <package id="NetFx4Extended-ASPNET45"  />
    <package id="Windows-Identity-Foundation"  />
    <package id="WAS-WindowsActivationService"  />
    <package id="WAS-ProcessModel"  />
    <package id="WAS-ConfigurationAPI"  />
    <package id="Microsoft-Windows-Subsystem-Linux"  />
    <package id="MSMQ-Container"  />
    <package id="MSMQ-Server"  />
    <package id="MSMQ-Triggers"  />
    <package id="MSMQ-ADIntegration"  />
    <package id="MSMQ-HTTP"  />
    <package id="MSMQ-Multicast"  />
    <package id="Microsoft-Hyper-V-All"  />
    <package id="Microsoft-Hyper-V"  />
    <package id="Microsoft-Hyper-V-Tools-All"  />
    <package id="Microsoft-Hyper-V-Management-PowerShell"  />
    <package id="Microsoft-Hyper-V-Hypervisor"  />
    <package id="Microsoft-Hyper-V-Services"  />
    <package id="Microsoft-Hyper-V-Management-Clients"  />
</packages>
