<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="dotnet3.5" allowMultipleVersions="true" />
    <package id="7zip" />
    <package id="clcl.portable" />
    <package id="googlechrome" />
    <package id="firefox" />
    <package id="notepadplusplus" />
    <package id="microsoft-windows-terminal" />
    <package id="cmder" />
    <package id="git" packageParameters="/SChannel"/>
    <package id="docker-desktop" />
    <package id="kubernetes-helm" />
    <package id="dotnetcore-sdk" version="2.2.104" allowMultipleVersions="true" />
    <package id="dotnetcore-sdk" allowMultipleVersions="true" />
    <package id="openjdk8" />
    <package id="nuget.commandline" />
    <package id="nodejs"/>
    <package id="gulp-cli" />
    <package id="redis-64"/>
    <package id="vscode" />
    <package id="sql-server-2019" packageParameters="/SECURITYMODE=SQL /SAPWD:P@ss.135"/>
    <package id="sql-server-management-studio" />
</packages>